<div class="login">
  <div class="title"></div>
  <div class="body">
      <div class="content">
          <div id="loginFrom">
              <div class="nav">
                  <a>账户登录</a>|
                  <a>手机登录</a>
              </div>
              <div class="content">
                  <div class="formItem">
                      <label for="username" class="name-label"></label>
                      <input type="text" id="username" placeholder="手机号、用户名，邮箱">
                  </div>
                  <div class="formItem">
                      <label for="password" class="pwd-label"></label>
                      <input type="password" id="password" placeholder="密码">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>